<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>今晚天气好</title>
</head>
<body>
<h3 th:text="${title}">Welcome to springboot</h3>
<div>
    <a th:href="@{/loginOut}" >用户退出</a>
</div>
<table border="1">
    <thead>
    <tr>
        <td>序号</td>
        <td>科目名称</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${subscribeList.size()} eq 0">
        <td colspan="3">没有用户信息！！</td>
    </tr>
    <tr th:each="subscribe : ${subscribeList}">
        <td th:text="${subscribe.SUBJECTID}">1</td>
        <td th:text="${subscribe.SUBJECTNAME}">11</td>
        <td th:if="${subscribe.STATUS} == 2 or ${subscribe.STATUS} == null">
            <a th:href="@{'subscribe/order/'+${subscribe.SUBJECTID}}">订阅</a>
        </td>
        <td th:if="${subscribe.STATUS} == 1">
            <a th:href="@{'subscribe/cancel/'+${subscribe.ID}}">取消订阅</a>
        </td>
    </tr>
    </tbody>

</table>

</body>
</html>
